.author-info {
    position: relative;
    display: grid;
    grid-template-columns: 60px, 100%;
    grid-template-rows: repeat(2, 20px);
    justify-content: left;
    align-items: center;
    grid-gap: 10px;
    
    &__thumbnail {
        grid-column: 1;
        grid-row: 1/3;
    }

    &__name {
        grid-column: 2;
        grid-row: 1;
        font-weight: 500;
        height: 24px;

        &::after{
            content: '';
            display: block;
            padding-bottom: 3px;
            border-bottom: 1px solid $main-color;
        }

        &:hover {
            margin-top: -2px;
            &::after {
                border-bottom: 3px solid $main-color;
            }
        }
    }

    &__time {
        grid-column: 2;
        grid-row: 2;
        position: absolute;
        bottom: 0;
        font-size: 14px;
        color: $category-color;
    }
}