* {
    box-sizing: border-box;
    font-family: Fredoka;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1 {

    strong {
        color: $main-color;
        font-weight: 500;
    }
}