.logos {
    height: 235px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid $line-color2;
    border-bottom: 1px solid $line-color2;

    @include media-md {
        height: 170px;
    }
    @include media-lg {
        height: 113px;
        padding: 0 0;
    }

    ul {
        width: 90%;
        padding: 30px 0;
        position: relative;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 20px;
        text-align: center;
        justify-content: space-between;
        align-items: center;

        @include media-md {
            width: 60%;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        @include media-lg {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: auto;
        }

        @include media-xl {
            max-width: 1200px;
        }

        li {

            @include media-xl {
                text-align: left;
            }

            &:nth-child(5) {
                @include media-md {
                    grid-column: 1/3;
                }

                @include media-lg {
                    grid-column: 2;
                    grid-row: 1;
                }
            }
            &:nth-child(6) {
                @include media-md {
                    grid-column: 3/5;
                }

                @include media-lg {
                    grid-column: 5;
                    grid-row: 1;
                }
            }
        }
    }
}