.second-section {
    @include section-config;

    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    header {
        margin-bottom: 60px;
        width: 90vw;
        max-width: 540px;

        @include media-md {
            max-width: 728px;
        }
        @include media-lg {
            max-width: 920px;
        }
        @include media-xl {
            max-width: 1200px;
        }

        h2 {
            font-size: 30px;
            font-weight: 500;

            &::before {
                content: '01';
                position: absolute;
                font-size: 84px;
                margin-top: -35px;
                opacity: 0.04;

                @include media-md {
                    margin-left: -25px;
                }
            }
        }
    }
}
