@import 'config';
@import 'body';
@import 'nav';
@import 'first-section';
@import 'boxes';
@import 'second-section';
@import 'slides';
@import 'post-preview';
@import 'author-info';




// .blog-post {
//     width: 95vw;
//     max-width: 588px;
//     margin: 0 auto 60px auto;
//     padding: 0 24px;
    
//     &__image {
//         display: block;
//         height: 47vw;
//         overflow: hidden;
//         text-align: center;
//         border-radius: 8px;
//         margin-bottom: 25px;


//         img {
//             width: 100%;
//             height: 100%;
//             transition: .2s ease-in-out;

//             &:hover {
//                 transform: scale(1.05);
//             }
//         }
//     }

//     &__category {
//         display: inline-block;
        
//         a {
//             text-transform: uppercase;
//             letter-spacing: 1px;
//             color: $category-color;
//             font-size: 12px;
//             padding-right: 10px;
//         }
//     }

//     &__title {
//         display: block;
//         margin: 20px 0;
//         transition: .1s ease-in-out;
        
//         &:hover {
//             color: $main-color;
//         }

//         h3 {
//         font-weight: 500;
//         font-size: 21px;
//         margin: 0;
//         }
//     }

//     &__author {
//         display: grid;
//         width: 100%;
//         grid-template-areas:
//         "thumbnail name"
//         "thumbnail time";
//         justify-content: left;
//         position: relative;
        

//         &__thumbnail { grid-area: thumbnail; width: 56px; height: 48px; margin-right: 15px;}
//         &__name {
//             grid-area: name;
//             display: inline-block;
//             padding-bottom: 3px;
//             font-weight: 500;
//             font-size: 16px;
//             border-bottom: 1px solid $main-color;

//             &:hover { 
//                 border-bottom: 3px solid $main-color;
//                 margin-top: -2px;
//             }
//         }
//         &__time { grid-area: time; color: $category-color; position: absolute; bottom: 0;}
//     }
// }

// @include media-md {

//     header {
//         text-align: center;
//         display: block;
//         position: relative;
//         width: 95vw;
//         max-width: 728px;
//         margin: 0 auto 40px auto;
//         padding: 0 24px;

//         p {
//             top: -65px;
//         }
//     }

//     .blog-post {
//         max-width: 640px;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;

//         &__image {
//             width: 588px;
//             height: 308px !important;

//             img {
//                 width: 100%;
//             }
//         }
//     }
// }

// @include media-lg {
//     header {
//         text-align: center;
//         display: block;
//         position: relative;
//         width: 95vw;
//         max-width: 728px;
//         margin: 0 auto 40px auto;
//         padding: 0 24px;

//         p {
//             top: -65px;
//         }
//     }

//     .blog-post {
//         width: 100%;

//         &__image {
//             width: 448px;
//             height: 235px !important;

//             img {
//                 width: 100%;
//             }
//         }
//     }
// }
