@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Fredoka;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.nav-parent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white;
  border-bottom: 1px solid #f3f3f3;
}

@media screen and (min-width: 768px) {
  .nav-parent {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
    padding: 0;
  }
}

@media screen and (min-width: 1366px) {
  .nav-parent {
    height: 90px;
  }
}

.navbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .navbar {
    width: 690px;
    height: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1366px) {
  .navbar {
    height: 90px;
    max-width: 1540px;
  }
}

.navbar__logo {
  margin-left: 14px;
}

@media screen and (min-width: 768px) {
  .navbar__logo {
    margin-left: 0;
  }
}

.navbar__logo__second {
  display: none;
}

@media screen and (min-width: 1024px) {
  .navbar__logo__second {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .navbar__logo__first {
    display: none;
  }
}

.navbar__menu.close {
  position: absolute;
  left: -100vw;
}

.navbar__menu {
  display: block;
  list-style-type: none;
  position: absolute;
  top: 53px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: white;
  border-top: 1px solid #f3f3f3;
  left: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .navbar__menu {
    left: 0;
    top: 69px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar__menu.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    width: 600px;
    height: 70px;
    border-top: none;
    border-bottom: 1px solid #f3f3f3;
  }
}

@media screen and (min-width: 1366px) {
  .navbar__menu.open {
    height: 90px;
    width: 750px;
  }
}

.navbar__menu__item {
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .navbar__menu__item {
    width: 100vw;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .navbar__menu__item {
    border-bottom: none;
  }
}

.navbar__menu__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 21px 42px 21px 24px;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .navbar__menu__item a {
    width: 680px;
    padding: 21px 0 21px 0;
  }
}

@media screen and (min-width: 1024px) {
  .navbar__menu__item a {
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1366px) {
  .navbar__menu__item a {
    height: 90px;
  }
}

.navbar__menu__item a:hover {
  color: #00D563;
}

.navbar__menu__item a::after {
  content: '\279C';
  display: block;
  font-size: 18px;
  color: #878787;
  opacity: 0.6;
}

@media screen and (min-width: 1024px) {
  .navbar__menu__item a::after {
    display: none;
  }
}

.navbar__button.close {
  position: absolute;
  left: -100vw;
}

.navbar__button {
  z-index: 1111;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  top: 91vh;
  left: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .navbar__button {
    width: 680px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar__button.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    width: 170px;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar__button a {
  display: block;
  font-weight: 400;
  width: 280px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #00D563;
  background-color: #00D563;
  color: white;
  text-align: center;
  padding: 8px 0;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.navbar__button a:hover {
  background-color: #00aa4f;
  border: 1px solid #00aa4f;
}

@media screen and (min-width: 1024px) {
  .navbar__button a {
    width: 100%;
    height: 45px;
    font-size: 14px;
    padding: 12px 0;
  }
}

.navbar__burger {
  margin-right: 38px;
  position: relative;
  cursor: pointer;
  width: 23px;
  height: 12px;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

@media screen and (min-width: 768px) {
  .navbar__burger {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .navbar__burger {
    display: none;
  }
}

.navbar__burger::before {
  position: absolute;
  top: 0;
  content: '';
  width: 23px;
  height: 3px;
  background-color: black;
}

.navbar__burger::after {
  position: absolute;
  bottom: 0;
  content: '';
  width: 23px;
  height: 3px;
  background-color: black;
}

.navbar__burger.open {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.navbar__burger.open::before {
  width: 24px;
  -webkit-transform: rotate(405deg) translate(0px, 3px);
          transform: rotate(405deg) translate(0px, 3px);
}

.navbar__burger.open::after {
  width: 24px;
  -webkit-transform: rotate(-405deg) translate(3px, -7px);
          transform: rotate(-405deg) translate(3px, -7px);
}

.first-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}

@media screen and (min-width: 1024px) {
  .first-section {
    margin-top: 170px;
  }
}

@media screen and (min-width: 1366px) {
  .first-section {
    margin-top: 180px;
  }
}

.first-section header {
  width: 85vw;
  max-width: 500px;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  .first-section header {
    max-width: 530px;
    margin-bottom: 100px;
  }
}

.first-section header h1 {
  font-size: 36px;
  font-weight: 500;
}

.first-section header h1 strong {
  color: #00D563;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .first-section header h1 {
    font-size: 40px;
  }
}

.first-section header span {
  display: block;
  margin-top: 40px;
  font-weight: 300;
  line-height: 1.7;
  color: #4b4b4b;
}

.boxes {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .boxes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .boxes {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    width: 920px;
  }
}

@media screen and (min-width: 1366px) {
  .boxes {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    width: 1248px;
  }
}

.boxes__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85vw;
  max-width: 382px;
  height: 287.5px;
  padding: 35px 24px;
  border: 1px solid #dbdbdb;
  border-radius: 7px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .boxes__box {
    width: 326px;
    height: 317.5px;
    padding: 50px 24px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .boxes__box {
    width: 288.66px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1366px) {
  .boxes__box {
    width: 280px;
    height: 332.5px;
  }
}

.boxes__box:hover {
  -webkit-box-shadow: 0px 0px 30px 2px #dfdfdf;
          box-shadow: 0px 0px 30px 2px #dfdfdf;
}

.boxes__box h2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  padding-bottom: 20px;
}

.boxes__box h3 {
  font-size: 21px;
  font-weight: 500;
  padding-bottom: 20px;
}

.boxes__box p {
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 55px;
  line-height: 1.7;
}

.boxes__box span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 6px;
  -ms-flex-item-align: center;
      align-self: center;
}

.boxes__box span::after {
  content: '>';
  position: absolute;
  padding-left: 120px;
}

.boxes__box__innovation {
  color: #bc9c5f;
}

.boxes__box__innovation-read {
  border-bottom: 1px solid #bc9c5f;
}

.boxes__box__business {
  color: #fac303;
}

.boxes__box__business-read {
  border-bottom: 1px solid #fac303;
}

.boxes__box__industry {
  color: #4cc9f0;
}

.boxes__box__industry-read {
  border-bottom: 1px solid #4cc9f0;
}

.boxes__box__pm {
  color: #3f89ff;
}

.boxes__box__pm-read {
  border-bottom: 1px solid #3f89ff;
}

.boxes__box__software {
  color: #f48e41;
}

.boxes__box__software-read {
  border-bottom: 1px solid #f48e41;
}

.boxes__box__ux {
  color: #ff4d6d;
}

.boxes__box__ux-read {
  border-bottom: 1px solid #ff4d6d;
}

.boxes__box__nway {
  color: #7b008f;
}

.boxes__box__nway-read {
  border-bottom: 1px solid #7b008f;
}

.boxes__box__people {
  color: #b17df9;
}

.boxes__box__people-read {
  border-bottom: 1px solid #b17df9;
}

.second-section {
  margin: 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.second-section header {
  margin-bottom: 60px;
  width: 90vw;
  max-width: 540px;
}

@media screen and (min-width: 768px) {
  .second-section header {
    max-width: 728px;
  }
}

@media screen and (min-width: 1024px) {
  .second-section header {
    max-width: 920px;
  }
}

@media screen and (min-width: 1366px) {
  .second-section header {
    max-width: 1200px;
  }
}

.second-section header h2 {
  font-size: 30px;
  font-weight: 500;
}

.second-section header h2::before {
  content: '01';
  position: absolute;
  font-size: 84px;
  margin-top: -35px;
  opacity: 0.04;
}

@media screen and (min-width: 768px) {
  .second-section header h2::before {
    margin-left: -25px;
  }
}

.second-section header {
  margin-bottom: 60px;
  width: 90vw;
  max-width: 540px;
}

@media screen and (min-width: 768px) {
  .second-section header {
    max-width: 728px;
  }
}

@media screen and (min-width: 1024px) {
  .second-section header {
    max-width: 920px;
  }
}

@media screen and (min-width: 1366px) {
  .second-section header {
    max-width: 1200px;
  }
}

.second-section header h2 {
  font-size: 30px;
  font-weight: 500;
}

.second-section header h2::before {
  content: '01';
  position: absolute;
  font-size: 84px;
  margin-top: -35px;
  opacity: 0.04;
}

@media screen and (min-width: 768px) {
  .second-section header h2::before {
    margin-left: -25px;
  }
}

.slides {
  position: relative;
  display: -ms-grid;
  display: grid;
  list-style-type: none;
}

@media screen and (min-width: 1024px) {
  .slides {
    width: 920px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1366px) {
  .slides {
    width: 1200px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.post-preview {
  width: 90vw;
  max-width: 540px;
  margin-bottom: 70px;
}

@media screen and (min-width: 768px) {
  .post-preview {
    max-width: 588px;
  }
}

@media screen and (min-width: 1024px) {
  .post-preview {
    max-width: 448px;
    height: 500px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1366px) {
  .post-preview {
    max-width: 384px;
    height: 452px;
  }
}

.post-preview__image {
  display: block;
  width: 100%;
  height: 48vw;
  max-height: 283px;
  overflow: hidden;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .post-preview__image {
    max-height: 308px;
  }
}

@media screen and (min-width: 1024px) {
  .post-preview__image {
    max-height: 235px;
  }
}

@media screen and (min-width: 1366px) {
  .post-preview__image {
    max-height: 201px;
  }
}

.post-preview__image img {
  width: 100%;
  height: 100%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.post-preview__image img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.post-preview__category {
  margin: 25px 0;
}

.post-preview__category a {
  color: #878787;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  padding-right: 20px;
}

@media screen and (min-width: 1024px) {
  .post-preview__category a:nth-child(2) {
    padding-right: 90px;
  }
}

.post-preview__title {
  display: block;
  margin-bottom: 25px;
  line-height: 1.4;
}

.post-preview__title h3 {
  font-weight: 500;
  font-size: 21px;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.post-preview__title h3:hover {
  color: #00D563;
}

.author-info {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "thumbnail name" "thumbnail time";
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  grid-gap: 10px;
}

.author-info__thumbnail {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: thumbnail;
}

.author-info__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font-weight: 500;
}

.author-info__name::after {
  content: '';
  display: block;
  padding-bottom: 3px;
  border-bottom: 1px solid #00D563;
}

.author-info__name:hover {
  margin-top: -1px;
}

.author-info__name:hover::after {
  border-bottom: 3px solid #00D563;
}

.author-info__time {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: time;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  color: #878787;
}

.third-section {
  margin: 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.third-section header {
  margin-bottom: 60px;
  width: 90vw;
  max-width: 540px;
}

@media screen and (min-width: 768px) {
  .third-section header {
    max-width: 728px;
  }
}

@media screen and (min-width: 1024px) {
  .third-section header {
    max-width: 920px;
  }
}

@media screen and (min-width: 1366px) {
  .third-section header {
    max-width: 1200px;
  }
}

.third-section header h2 {
  font-size: 30px;
  font-weight: 500;
}

.third-section header h2::before {
  content: '01';
  position: absolute;
  font-size: 84px;
  margin-top: -35px;
  opacity: 0.04;
}

@media screen and (min-width: 768px) {
  .third-section header h2::before {
    margin-left: -25px;
  }
}

.third-section header h2 {
  max-width: 500px;
}

.third-section header h2::before {
  content: '02';
}

.fourth-section {
  margin: 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 100px 0 60px 0;
  background-color: #f7f8f7;
}

.fourth-section header {
  margin-bottom: 60px;
  width: 90vw;
  max-width: 540px;
}

@media screen and (min-width: 768px) {
  .fourth-section header {
    max-width: 728px;
  }
}

@media screen and (min-width: 1024px) {
  .fourth-section header {
    max-width: 920px;
  }
}

@media screen and (min-width: 1366px) {
  .fourth-section header {
    max-width: 1200px;
  }
}

.fourth-section header h2 {
  font-size: 30px;
  font-weight: 500;
}

.fourth-section header h2::before {
  content: '01';
  position: absolute;
  font-size: 84px;
  margin-top: -35px;
  opacity: 0.04;
}

@media screen and (min-width: 768px) {
  .fourth-section header h2::before {
    margin-left: -25px;
  }
}

.fourth-section header h2 {
  max-width: 500px;
}

.fourth-section header h2::before {
  content: '';
}

.fifth-section {
  margin: 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.fifth-section header {
  margin-bottom: 60px;
  width: 90vw;
  max-width: 540px;
}

@media screen and (min-width: 768px) {
  .fifth-section header {
    max-width: 728px;
  }
}

@media screen and (min-width: 1024px) {
  .fifth-section header {
    max-width: 920px;
  }
}

@media screen and (min-width: 1366px) {
  .fifth-section header {
    max-width: 1200px;
  }
}

.fifth-section header h2 {
  font-size: 30px;
  font-weight: 500;
}

.fifth-section header h2::before {
  content: '01';
  position: absolute;
  font-size: 84px;
  margin-top: -35px;
  opacity: 0.04;
}

@media screen and (min-width: 768px) {
  .fifth-section header h2::before {
    margin-left: -25px;
  }
}

.fifth-section header h2::before {
  content: '03';
}

.cards-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -80px;
}

.cards-section header {
  width: 85vw;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  .cards-section header {
    max-width: 530px;
    margin: 110px 0 70px 0;
  }
}

.cards-section header h2 {
  font-weight: 500;
  font-size: 30px;
}

.cards {
  position: relative;
  display: -ms-grid;
  display: grid;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 25px;
}

@media screen and (min-width: 768px) {
  .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 680px;
  }
}

@media screen and (min-width: 1024px) {
  .cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    width: 920px;
  }
}

@media screen and (min-width: 1366px) {
  .cards {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    width: 1200px;
  }
}

.cards__card {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
      grid-template-areas: "category arrow" "type arrow";
  width: 85vw;
  max-width: 382px;
  height: 113.5px;
  padding: 24px 24px 30px 24px;
  border: 1px solid #dbdbdb;
  border-radius: 7px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .cards__card {
    max-width: 326px;
  }
}

@media screen and (min-width: 1024px) {
  .cards__card {
    max-width: 288.66px;
  }
}

@media screen and (min-width: 1366px) {
  .cards__card {
    max-width: 280px;
  }
}

.cards__card:hover {
  -webkit-box-shadow: 0px 0px 30px 2px #dfdfdf;
          box-shadow: 0px 0px 30px 2px #dfdfdf;
  padding-right: 18px;
}

.cards__card:hover span.cards__card__innovation-arrow {
  color: #bc9c5f;
}

.cards__card:hover span.cards__card__business-arrow {
  color: #fac303;
}

.cards__card:hover span.cards__card__industry-arrow {
  color: #4cc9f0;
}

.cards__card:hover span.cards__card__pm-arrow {
  color: #3f89ff;
}

.cards__card:hover span.cards__card__software-arrow {
  color: #f48e41;
}

.cards__card:hover span.cards__card__ux-arrow {
  color: #ff4d6d;
}

.cards__card:hover span.cards__card__nway-arrow {
  color: #7b008f;
}

.cards__card:hover span.cards__card__people-arrow {
  color: #b17df9;
}

.cards__card h2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: category;
}

.cards__card span {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: arrow;
  font-size: 36px;
  text-align: right;
}

.cards__card span::after {
  content: '>';
}

.cards__card h3 {
  font-size: 21px;
  font-weight: 500;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: type;
}

.cards__card__innovation {
  color: #bc9c5f;
}

.cards__card__business {
  color: #fac303;
}

.cards__card__industry {
  color: #4cc9f0;
}

.cards__card__pm {
  color: #3f89ff;
}

.cards__card__software {
  color: #f48e41;
}

.cards__card__ux {
  color: #ff4d6d;
}

.cards__card__nway {
  color: #7b008f;
}

.cards__card__people {
  color: #b17df9;
}

.newsletter {
  margin-top: 40px;
  padding: 30px 0 100px 0;
  background-color: #f7f8f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .newsletter {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "img header" "img form";
    -ms-grid-rows: 140px auto;
        grid-template-rows: 140px auto;
    grid-gap: 40px;
  }
}

@media screen and (min-width: 1366px) {
  .newsletter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 120px;
  }
}

.newsletter img {
  display: block;
  border-radius: 20px;
  overflow: hidden;
  width: 90vw;
  max-width: 540px;
  grid-area: img;
}

@media screen and (min-width: 768px) {
  .newsletter img {
    max-width: 680px;
  }
}

@media screen and (min-width: 1024px) {
  .newsletter img {
    margin-left: 100px;
    max-width: 50vw;
    height: 740px;
  }
}

@media screen and (min-width: 1366px) {
  .newsletter img {
    max-width: 740px;
  }
}

.newsletter header {
  width: 90vw;
  padding-top: 60px;
  max-width: 540px;
  grid-area: header;
}

@media screen and (min-width: 768px) {
  .newsletter header {
    max-width: 680px;
  }
}

@media screen and (min-width: 1024px) {
  .newsletter header {
    width: 430px;
    height: 200px;
    padding: 60px 0 0 0;
  }
}

@media screen and (min-width: 1366px) {
  .newsletter header {
    padding-top: 120px;
    max-width: 540px;
  }
}

.newsletter header h2 {
  font-size: 36px;
  font-weight: 500;
}

.newsletter header h2 strong {
  color: #00D563;
  font-weight: 500;
}

.newsletter header span {
  display: block;
  padding: 40px 0;
  color: #4b4b4b;
  font-weight: 300;
  line-height: 1.7;
}

@media screen and (min-width: 1024px) {
  .newsletter header span {
    padding-bottom: 0;
  }
}

.newsletter__form {
  display: -ms-grid;
  display: grid;
  width: 90vw;
  max-width: 540px;
  grid-area: form;
}

@media screen and (min-width: 456px) {
  .newsletter__form {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .newsletter__form {
    max-width: 680px;
  }
}

@media screen and (min-width: 1024px) {
  .newsletter__form {
    width: 430px;
    height: 300px;
    margin-top: -280px;
    margin-right: 100px;
  }
}

@media screen and (min-width: 1366px) {
  .newsletter__form {
    padding-top: 80px;
    max-width: 540px;
  }
}

.newsletter__form__fname {
  margin: 20px 0px 10px 0px;
  font-size: 14px;
}

@media screen and (min-width: 456px) {
  .newsletter__form__fname {
    -ms-grid-row: 1;
    grid-row: 1;
    padding-right: 10px;
  }
}

@media screen and (min-width: 456px) {
  .newsletter__form__fname-input {
    margin-right: 10px;
  }
}

@media screen and (min-width: 456px) {
  .newsletter__form__lname-input {
    margin-left: 10px;
  }
}

.newsletter__form__lname {
  margin: 20px 0px 10px 0px;
  font-size: 14px;
}

@media screen and (min-width: 456px) {
  .newsletter__form__lname {
    -ms-grid-row: 1;
    grid-row: 1;
    margin-left: 10px;
  }
}

.newsletter__form__email {
  margin: 20px 0px 10px 0px;
  font-size: 14px;
}

@media screen and (min-width: 456px) {
  .newsletter__form__email {
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media screen and (min-width: 456px) {
  .newsletter__form__email-input {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.newsletter__form input {
  padding: 12px 14px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
}

.newsletter__form__policy {
  margin: 28px 0;
  color: #4b4b4b;
  font-size: 12px;
}

@media screen and (min-width: 456px) {
  .newsletter__form__policy {
    -ms-grid-row: 5;
    grid-row: 5;
  }
}

.newsletter__form__policy::after {
  content: '[i]';
  padding-left: 20px;
}

.newsletter__form button {
  padding: 14px 0;
  background-color: #00D563;
  border: 1px solid #00D563;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (min-width: 456px) {
  .newsletter__form button {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f8f7;
}

.footer__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 90vw;
  grid-gap: 25px;
  max-width: 540px;
}

@media screen and (min-width: 768px) {
  .footer__main {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    max-width: 680px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__main {
    max-width: 920px;
  }
}

@media screen and (min-width: 1366px) {
  .footer__main {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
  }
}

.footer__main ul {
  list-style-type: none;
}

.footer__main ul li {
  font-size: 14px;
}

.footer__main ul li a {
  color: #4b4b4b;
  line-height: 2.2;
  font-weight: 300;
}

.footer__main ul li h2 {
  display: block;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

.footer__main ul li h2 a {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

@media screen and (min-width: 1024px) {
  .footer__main ul li h2 a {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .footer__main__services {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media screen and (min-width: 1366px) {
  .footer__main__services {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media screen and (min-width: 768px) {
  .footer__main__industries {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

@media screen and (min-width: 1366px) {
  .footer__main__industries {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

@media screen and (min-width: 768px) {
  .footer__main__clients {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media screen and (min-width: 1366px) {
  .footer__main__clients {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media screen and (min-width: 768px) {
  .footer__main__reports {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media screen and (min-width: 1366px) {
  .footer__main__reports {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: -155px;
  }
}

@media screen and (min-width: 768px) {
  .footer__main__insights {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: -80px;
  }
}

@media screen and (min-width: 1366px) {
  .footer__main__insights {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__main__publications {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media screen and (min-width: 1366px) {
  .footer__main__publications {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

@media screen and (min-width: 768px) {
  .footer__main__aboutus {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: -80px;
  }
}

@media screen and (min-width: 1366px) {
  .footer__main__aboutus {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__main__join-netguru {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media screen and (min-width: 1366px) {
  .footer__main__join-netguru {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: -70px;
  }
}

.footer__details-parent {
  width: 100%;
  background-color: white;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details {
  width: 90vw;
}

@media screen and (min-width: 588px) {
  .details {
    width: 540px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .details {
    width: 680px;
  }
}

@media screen and (min-width: 1024px) {
  .details {
    width: 920px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1366px) {
  .details {
    width: 1200px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.details img {
  margin: 38px 0px;
  margin-left: -5px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media screen and (min-width: 588px) {
  .details img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media screen and (min-width: 1024px) {
  .details img {
    margin: 60px 0;
  }
}

.details h2 {
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1366px) {
  .details h2 {
    padding-bottom: 15px;
  }
}

.details p {
  color: #878787;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.7;
}

@media screen and (min-width: 1024px) {
  .details p {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .details p {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .details__company-address {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.details__company-data {
  margin: 20px 0 40px 0;
}

@media screen and (min-width: 588px) {
  .details__company-data {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .details__company-data {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

@media screen and (min-width: 1366px) {
  .details__company-data {
    padding-top: 35px;
  }
}

@media screen and (min-width: 588px) {
  .details__contact {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

@media screen and (min-width: 768px) {
  .details__contact {
    display: block;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media screen and (min-width: 1024px) {
  .details__contact {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.details__contact a {
  display: block;
  width: 104px;
  font-size: 12px;
  color: #4b4b4b;
  border-bottom: 1px solid #00D563;
  padding-bottom: 4px;
}

@media screen and (min-width: 1024px) {
  .details__contact a {
    font-size: 14px;
    width: 122px;
  }
}

.details__contact a:hover {
  margin-top: -1px;
  border-bottom: 2px solid #00D563;
}

.details__follow-wrapper {
  margin-top: 40px;
  width: 258px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 14px;
}

@media screen and (min-width: 588px) {
  .details__follow-wrapper {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .details__follow-wrapper {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media screen and (min-width: 1024px) {
  .details__follow-wrapper {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media screen and (min-width: 1366px) {
  .details__follow-wrapper {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 2;
    grid-row: 2;
    height: 110px;
  }
}

.details__follow-wrapper h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .details__follow-wrapper h2 {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1366px) {
  .details__follow-wrapper h2 {
    padding-bottom: 10px;
  }
}

.details__follow-wrapper a {
  display: block;
  width: 16px;
  height: 16px;
  z-index: 2;
}

.details__follow-wrapper a i {
  font-size: 17px;
}

.details__follow-wrapper a:hover {
  color: #00D563;
}

.line {
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
}

.badges-parent {
  width: 100%;
  padding-top: 60px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.badges {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 588px) {
  .badges {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .badges {
    width: 680px;
  }
}

@media screen and (min-width: 1024px) {
  .badges {
    width: 920px;
  }
}

@media screen and (min-width: 1366px) {
  .badges {
    width: 1200px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header1 header2" "badges1 badges2";
  }
}

.badges h2 {
  font-weight: 500;
  font-size: 18px;
  padding: 0px 0 40px 0;
}

.badges__certificates {
  grid-area: header1;
}

.badges__parnerships {
  grid-area: header2;
}

.badges__list-first {
  grid-area: badges1;
}

.badges__list-second {
  grid-area: badges2;
}

.badges ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 588px) {
  .badges ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .badges ul {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.badges ul li {
  width: 130px;
  padding-bottom: 35px;
}

.badges ul li span {
  font-size: 12px;
  color: #4b4b4b;
  padding: 16px 0;
  max-width: 130px;
  line-height: 1.7;
  font-weight: 300;
}

.logos {
  height: 235px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

@media screen and (min-width: 768px) {
  .logos {
    height: 170px;
  }
}

@media screen and (min-width: 1024px) {
  .logos {
    height: 113px;
    padding: 0 0;
  }
}

.logos ul {
  width: 90%;
  padding: 30px 0;
  position: relative;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .logos ul {
    width: 60%;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .logos ul {
    width: 920px;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

@media screen and (min-width: 1366px) {
  .logos ul {
    width: 1200px;
    max-width: 1200px;
  }
}

@media screen and (min-width: 1366px) {
  .logos ul li {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .logos ul li:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media screen and (min-width: 1024px) {
  .logos ul li:nth-child(5) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media screen and (min-width: 768px) {
  .logos ul li:nth-child(6) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
}

@media screen and (min-width: 1024px) {
  .logos ul li:nth-child(6) {
    -ms-grid-column: 5;
    grid-column: 5;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 94px;
  background-color: #f7f8f7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom {
  text-align: center;
  margin: auto auto;
  color: #878787;
  font-size: 12px;
  font-weight: 300;
}

@media screen and (min-width: 1024px) {
  .bottom {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 920px;
  }
}

@media screen and (min-width: 1366px) {
  .bottom {
    width: 1200px;
  }
}

.bottom nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 100px 80px;
      grid-template-columns: 100px 100px 80px;
  padding-bottom: 18px;
}

@media screen and (min-width: 1024px) {
  .bottom nav {
    padding: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (min-width: 1366px) {
  .bottom nav {
    padding-right: 40px;
  }
}

.bottom nav a {
  color: #878787;
  text-align: center;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.bottom nav a:hover {
  color: #00D563;
}

.bottom span {
  display: block;
  -ms-grid-row: 1;
  grid-row: 1;
}
/*# sourceMappingURL=main.css.map */