@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Fredoka;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: white;
  border-bottom: 1px solid #f3f3f3;
}

.navbar__logo {
  padding: 15px 0 10px 15px;
}

.navbar__menu {
  list-style-type: none;
  display: none;
  padding: 0;
  margin: 0;
}

.navbar__menu--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 60px;
  text-align: left;
}

.navbar__item {
  height: 60px;
  font-weight: 500;
  padding: 20px 0 20px 25px;
  border-bottom: 1px solid #f3f3f3;
}

.navbar__item a {
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.navbar__item a:hover {
  color: #00D563;
}

.navbar__button {
  display: none;
}

.navbar__button--active {
  display: block;
  position: fixed;
  width: 100vw;
  bottom: 20px;
  text-align: center;
}

.navbar__button button {
  cursor: pointer;
  padding: 12px 83px 12px 83px;
  border-radius: 6px;
  border: 0px;
  background-color: #00D563;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 13px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.navbar__button button:hover {
  background-color: #00aa4f;
}

.navbar__burger {
  display: block;
  position: relative;
  width: 22px;
  height: 20px;
  right: 30px;
  cursor: pointer;
}

.navbar__burger::after {
  content: '';
  position: absolute;
  top: 4px;
  width: 22px;
  height: 3px;
  background-color: black;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.navbar__burger::before {
  content: '';
  position: absolute;
  top: 13px;
  width: 22px;
  height: 3px;
  background-color: black;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.navbar__burger.open {
  right: 20px;
}

.navbar__burger.open::before {
  width: 23px;
  -webkit-transform: rotate(226deg) translateX(6px);
          transform: rotate(226deg) translateX(6px);
}

.navbar__burger.open::after {
  width: 23px;
  -webkit-transform: rotate(-226deg) translateX(6px);
          transform: rotate(-226deg) translateX(6px);
}

.first-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}

@media screen and (min-width: 1024px) {
  .first-section {
    margin-top: 170px;
  }
}

@media screen and (min-width: 1366px) {
  .first-section {
    margin-top: 180px;
  }
}

.first-section header {
  width: 85vw;
  max-width: 500px;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  .first-section header {
    max-width: 530px;
    margin-bottom: 100px;
  }
}

.first-section header h1 {
  font-size: 36px;
  font-weight: 500;
}

.first-section header h1 strong {
  color: #00D563;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .first-section header h1 {
    font-size: 40px;
  }
}

.first-section header span {
  display: block;
  margin-top: 40px;
  font-weight: 300;
  line-height: 1.7;
  color: #4b4b4b;
}

.boxes {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .boxes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .boxes {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    width: 920px;
  }
}

@media screen and (min-width: 1366px) {
  .boxes {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    width: 1248px;
  }
}

.boxes__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85vw;
  max-width: 382px;
  height: 287.5px;
  padding: 35px 24px;
  border: 1px solid #dbdbdb;
  border-radius: 7px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .boxes__box {
    width: 326px;
    height: 317.5px;
    padding: 50px 24px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .boxes__box {
    width: 288.66px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1366px) {
  .boxes__box {
    width: 280px;
    height: 332.5px;
  }
}

.boxes__box:hover {
  -webkit-box-shadow: 0px 0px 30px 2px #dfdfdf;
          box-shadow: 0px 0px 30px 2px #dfdfdf;
}

.boxes__box h2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  padding-bottom: 20px;
}

.boxes__box h3 {
  font-size: 21px;
  font-weight: 500;
  padding-bottom: 20px;
}

.boxes__box p {
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 55px;
  line-height: 1.7;
}

.boxes__box span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 6px;
  -ms-flex-item-align: center;
      align-self: center;
}

.boxes__box span::after {
  content: '>';
  position: absolute;
  padding-left: 120px;
}

.boxes__box__innovation {
  color: #bc9c5f;
}

.boxes__box__innovation-read {
  border-bottom: 1px solid #bc9c5f;
}

.boxes__box__business {
  color: #fac303;
}

.boxes__box__business-read {
  border-bottom: 1px solid #fac303;
}

.boxes__box__industry {
  color: #4cc9f0;
}

.boxes__box__industry-read {
  border-bottom: 1px solid #4cc9f0;
}

.boxes__box__pm {
  color: #3f89ff;
}

.boxes__box__pm-read {
  border-bottom: 1px solid #3f89ff;
}

.boxes__box__software {
  color: #f48e41;
}

.boxes__box__software-read {
  border-bottom: 1px solid #f48e41;
}

.boxes__box__ux {
  color: #ff4d6d;
}

.boxes__box__ux-read {
  border-bottom: 1px solid #ff4d6d;
}

.boxes__box__nway {
  color: #7b008f;
}

.boxes__box__nway-read {
  border-bottom: 1px solid #7b008f;
}

.boxes__box__people {
  color: #b17df9;
}

.boxes__box__people-read {
  border-bottom: 1px solid #b17df9;
}

.second-section {
  margin: 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.second-section header {
  margin-bottom: 60px;
  width: 90vw;
  max-width: 540px;
}

@media screen and (min-width: 768px) {
  .second-section header {
    max-width: 728px;
  }
}

@media screen and (min-width: 1024px) {
  .second-section header {
    max-width: 920px;
  }
}

@media screen and (min-width: 1366px) {
  .second-section header {
    max-width: 1200px;
  }
}

.second-section header h2 {
  font-size: 30px;
  font-weight: 500;
}

.second-section header h2::before {
  content: '01';
  position: absolute;
  font-size: 84px;
  margin-top: -35px;
  opacity: 0.04;
}

@media screen and (min-width: 768px) {
  .second-section header h2::before {
    margin-left: -25px;
  }
}

.slides {
  display: -ms-grid;
  display: grid;
  list-style-type: none;
}

@media screen and (min-width: 1024px) {
  .slides {
    width: 920px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1366px) {
  .slides {
    width: 1200px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.post-preview {
  width: 90vw;
  max-width: 540px;
  margin-bottom: 70px;
}

@media screen and (min-width: 768px) {
  .post-preview {
    max-width: 588px;
  }
}

@media screen and (min-width: 1024px) {
  .post-preview {
    max-width: 448px;
  }
}

@media screen and (min-width: 1366px) {
  .post-preview {
    max-width: 384px;
  }
}

.post-preview__image {
  display: block;
  width: 100%;
  height: 48vw;
  max-height: 283px;
  overflow: hidden;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .post-preview__image {
    max-height: 308px;
  }
}

@media screen and (min-width: 1024px) {
  .post-preview__image {
    max-height: 235px;
  }
}

@media screen and (min-width: 1024px) {
  .post-preview__image {
    max-height: 201px;
  }
}

.post-preview__image img {
  width: 100%;
  height: 100%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.post-preview__image img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.post-preview__category {
  margin: 25px 0;
}

.post-preview__category a {
  color: #878787;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  padding-right: 20px;
}

.post-preview__title {
  display: block;
  margin-bottom: 25px;
  line-height: 1.4;
}

.post-preview__title h3 {
  font-weight: 500;
  font-size: 21px;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.post-preview__title h3:hover {
  color: #00D563;
}

.author-info {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "thumbnail name" "thumbnail time";
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  grid-gap: 10px;
}

.author-info__thumbnail {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: thumbnail;
}

.author-info__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font-weight: 500;
}

.author-info__name::after {
  content: '';
  display: block;
  padding-bottom: 3px;
  border-bottom: 1px solid #00D563;
}

.author-info__name:hover {
  margin-top: -1px;
}

.author-info__name:hover::after {
  border-bottom: 3px solid #00D563;
}

.author-info__time {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: time;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  color: #878787;
}

.third-section {
  margin: 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.third-section header {
  margin-bottom: 60px;
  width: 90vw;
  max-width: 540px;
}

@media screen and (min-width: 768px) {
  .third-section header {
    max-width: 728px;
  }
}

@media screen and (min-width: 1024px) {
  .third-section header {
    max-width: 920px;
  }
}

@media screen and (min-width: 1366px) {
  .third-section header {
    max-width: 1200px;
  }
}

.third-section header h2 {
  font-size: 30px;
  font-weight: 500;
}

.third-section header h2::before {
  content: '01';
  position: absolute;
  font-size: 84px;
  margin-top: -35px;
  opacity: 0.04;
}

@media screen and (min-width: 768px) {
  .third-section header h2::before {
    margin-left: -25px;
  }
}

.third-section header h2 {
  max-width: 500px;
}

.third-section header h2::before {
  content: '02';
}
/*# sourceMappingURL=main.css.map */